.background {
  padding-top: 100px;
  font-family: "Mochiy Pop One", sans-serif;
  text-align: center;
  background-color: #b289f3;
  margin: 0px;
  padding-bottom: 50px; }

.textname, .textnamepad {
  font-family: 'Shippori Mincho', serif; }

.textnamepad {
  font-size: 80%; }

.imagethumb {
  display: block;
  width: 230px;
  height: 300px; }

/* Esto es el texto que aparece arriba de las imagenes de previous works */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #b289f3;
  padding-left: 50px; }

.textoverlay {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

p {
  font-size: 70%; }

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  text-align: center;
  grid-gap: 10px;
  padding: 10px; }
  .grid-container > div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px; }

.container-1 {
  position: relative;
  width: 100%;
  float: left; }
  .container-1 .image {
    display: block;
    width: 100%;
    height: 100%; }
  .container-1:hover .overlay {
    opacity: 1; }

.container-2 {
  position: relative;
  width: 100%;
  float: left; }
  .container-2 .image {
    display: block;
    width: 100%;
    height: 100%; }
  .container-2:hover .overlay {
    opacity: 1; }

.container-3 {
  position: relative;
  width: 100%;
  float: left; }
  .container-3 .image {
    display: block;
    width: 100%;
    height: 100%; }
  .container-3:hover .overlay {
    opacity: 1; }

.container-4 {
  position: relative;
  width: 100%;
  float: left; }
  .container-4 .image {
    display: block;
    width: 100%;
    height: 100%; }
  .container-4:hover .overlay {
    opacity: 1; }

.row {
  display: flex; }

.title {
  font-size: 20px;
  line-break: auto; }

.question {
  padding-top: 40px;
  width: 500px;
  margin: auto;
  display: grid;
  grid-gap: 100px;
  text-align: left; }

ul {
  list-style-type: none; }

.btn-necro {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #000;
  background-color: #966fdc;
  border-color: #966fdc;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.footercontainer {
  position: fixed;
  background-color: #cea3ff;
  bottom: 0;
  right: 0;
  left: 0; }
  .footercontainer__footertext::after {
    content: "\a";
    white-space: pre; }
  .footercontainer__email::before {
    content: "\a";
    white-space: pre; }

/* Todo lo de media query*/
@media screen and (max-width: 600px) {
  .submit {
    display: flex;
    padding-left: 240px; }
  .background {
    text-align: center; }
  .dropbtn {
    padding: 5px;
    font-size: 10px; }
  .grid-container {
    grid-template-columns: auto auto; }
  .imagethumb {
    display: block;
    width: 200px;
    height: 250px; }
  .question {
    width: 300px;
    padding-bottom: 100px; }
  .textname, .textnamepad {
    font-size: 20px; }
  .textnamepad {
    font-size: 20px; }
  .form {
    width: auto;
    padding-left: 0px; }
  .columnone {
    float: left;
    width: 20%;
    margin-top: 6px; }
  .columntwo {
    float: left;
    width: 50%;
    margin-top: 6px; }
  section {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px; }
  .textoverlay {
    font-size: 45%; }
  .image_selected img {
    max-width: 50%; } }
