
.background {
    padding-top: 100px;
    font-family: "Mochiy Pop One", sans-serif;
    text-align: center;
    background-color: #b289f3;
    margin: 0px;
    padding-bottom: 50px;
}
.textname {
    font-family: 'Shippori Mincho', serif;
}

.textnamepad {
    @extend .textname;
    font-size: 80%;
}


.imagethumb {
    display: block;
    width: 230px;
    height: 300px;
}

/* Esto es el texto que aparece arriba de las imagenes de previous works */
@import "previouswork";

.row {
    display: flex;
}

.title {
    font-size: 20px;
    line-break: auto;
}

@import "faq";

.btn-necro {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color: #000;
    background-color: #966fdc;
    border-color: #966fdc;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}




@import "footer";

/* Todo lo de media query*/

@import "media";